@font-face {
    font-family: "Space Grotesk";
    font-weight: 500;
    src: url("./fonts/SpaceGrotesk-Regular.woff2"),
        url("./fonts/SpaceGrotesk-Regular.woff");
}

@font-face {
    font-family: "Space Grotesk";
    font-weight: 900;
    src: url("./fonts/SpaceGrotesk-Bold.woff2"),
        url("./fonts/SpaceGrotesk-Bold.woff");
}

html {
    height: 100%;
}

body {
    font-family: "Space Grotesk";
    font-weight: 500;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    margin-bottom: 3rem;
}

main {
    width: 380px;
    text-align: center;
}

.newsletter {
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
}

.newsletter input {
    width: 100%;
    display: block;
    background-color: transparent;
    border: none;
    padding: 1rem 0.5rem 1rem 0;
    position: relative;
    color: white;
    font-size: 16px;
    border-bottom: 1px solid #333333;
}

.newsletter::after {
    content: " ";
    width: 100%;
    height: 1px;
    background-color: white;
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.newsletter:hover::after {
    transform: scaleX(1);
}

input:focus,
input:hover {
    outline: none;
}

.newsletter__submit {
    position: absolute;
    top: 20px;
    right: 0;
    opacity: 0;
    transform: scale(0);
    transition: all 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.newsletter:hover .newsletter__submit {
    opacity: 1;
    transform: scale(1);
}

.links {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.links a {
    border: 1px solid #333333;
    padding: 1rem 1rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    width: 33.333%;
    margin-right: 16px;
    transition: border-color 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.links a:last-child {
    margin-right: 0px;
}

.links a:hover {
    border-color: #ffffff;
}
