@keyframes fadeIn {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 100;
    }
}

@keyframes logoFadeIn {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }
    50% {
        transform: translateY(80px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@font-face {
    font-family: "Space Grotesk";
    font-weight: 500;
    src: url("./fonts/SpaceGrotesk-Regular.woff2"),
        url("./fonts/SpaceGrotesk-Regular.woff");
}

@font-face {
    font-family: "Space Grotesk";
    font-weight: 900;
    src: url("./fonts/SpaceGrotesk-Bold.woff2"),
        url("./fonts/SpaceGrotesk-Bold.woff");
}

html {
    height: 100%;
}

body {
    font-family: "Space Grotesk";
    font-weight: 500;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

a {
    color: black;
    text-decoration: none;
    font-weight: 900;
}

.logo {
    margin-bottom: 3rem;
    opacity: 0;
    transform: translateY(50px);
    animation-name: logoFadeIn;
    animation-duration: 2.8s;
    animation-fill-mode: forwards;
}

.logo img {
    max-width: 100%;
    display: block;
}

main {
    text-align: center;
    padding: 0 2rem;
}

.content {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.newsletter {
    width: 100%;
    max-width: 400px;
    margin-bottom: 2rem;
    margin: 0 auto 2rem auto;
    position: relative;
}

.newsletter input[type="email"] {
    width: 100%;
    display: block;
    background-color: transparent;
    border: none;
    padding: 1rem 0.5rem 1rem 0;
    position: relative;
    color: #000000;
    font-size: 16px;
    border-bottom: 1px solid #cccccc;
    -webkit-appearance: none;
    border-radius: 0;
}

.newsletter::after {
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #000000;
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: -1px;
    transform: scaleX(0);
    transition: transform 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.newsletter:hover::after {
    transform: scaleX(1);
}

input:focus,
input:hover {
    outline: none;
}

.newsletter__submit {
    position: absolute;
    top: 20px;
    right: 0;
    opacity: 0.3;
    transform: scale(1) rotate(0deg);
    transition: all 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.newsletter__submit.typing {
    transform: rotate(90deg);
}

.newsletter:hover .newsletter__submit.typing {
    transform: rotate(90deg);
}

.newsletter:hover .newsletter__submit {
    opacity: 1;
    transform: scale(1) rotate(0deg);
}

.email {
    position: relative;
}

input#mc-embedded-subscribe {
    position: absolute;
    bottom: 2px;
    right: 0;
    padding: 0 15px;
    background: transparent;
    border: none;
    opacity: 0;
    width: 40px;
    cursor: pointer;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.links a {
    display: inline-block;
    border-bottom: 1px solid transparent;
    margin: 1rem 1rem;
    padding-bottom: 4px;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: border-color 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* .links a:last-child {
    margin-right: 0px;
} */

.links a:hover {
    border-color: #000000;
}
